##### This notebook is used to divide systems according to their type of interaction when they still consisted of a pair of stars.
Interactions are divided between: at least 1 Common Envelope `CE`, stable Mass Transfer `MT`, Non Interacting `NI`. 
The (unique) names of the systems and the associated flag (`type` column) are used in plots of the relevant feature pairs* (for systems where at some point in evolution one of the two objects becomes a BH), so as to understand what the evolutionary channel of that system was and what pair of parameters relates back to that evolutionary channel.

_*see the `bhms_plotting` notebook_

In [28]:
# Importing packages

import numpy as np
import pandas as pd

import dask
import dask.dataframe as dd

%matplotlib inline

pd.set_option('display.max_columns', None)

In [29]:
outputs = dd.read_csv('./data/sevn_output_Z0.0001A1L1/data_0/output_*.csv')

In [30]:
# Selecting systems that are in the evolutionary phase of two stars
# Selecting only `name` and `BEvent` column

mask = (((outputs['RemnantType_0'] == 0)) & (outputs['RemnantType_1'] == 0))
msms_df = outputs[mask]
msms_df = msms_df[['name', 'BEvent']]

In [31]:
# Creating a mask in order to select the sys that went through at least 1 Common Envelop
mask_CE = (msms_df['BEvent'].isin([7, 9, 11, 12, 14, 15]))

masked_ce = msms_df[mask_CE]

# Creating a new dataframe containing the unique name 
# of the systems previously selected
masked_CE = pd.DataFrame()
masked_CE['name'] = (masked_ce['name'].unique())
masked_CE['type'] = 'CE'

In [32]:
# Merging the original dataframe to the masked one, 
# to add, at each row, the type of interaction: in this case CE

out_masked = msms_df.merge(masked_CE, on=['name'], how='left')

In [33]:
out_masked.head()

                name  BEvent type
0  0_727853901419926      -1  NaN
1  0_727853901419926       0  NaN
2  0_727853901419926       0  NaN
3  0_727853901419926       0  NaN
4  0_727853901419926       0  NaN

In [34]:
# Creating a mask in order to select the sys that went through a stable Mass Transfer AND NOT a CE
mask_MT = (out_masked['BEvent'].isin([4, 5, 6, 8, 10, 13, 16, 17, 18, 19, 20]) & (out_masked['type']!='CE'))

masked_mt = out_masked[mask_MT]

# Creating a new dataframe containing the unique name 
# of the systems previously selected
masked_MT = pd.DataFrame()
masked_MT['name'] = (masked_mt['name'].unique())
masked_MT['type'] = 'MT'

In [35]:
# Merging the original dataframe to the masked one, 
# to add, at each row, the type of interaction: in this case MT

out_masked_1 = out_masked.merge(masked_MT, on=['name'], how='left')

In [36]:
out_masked_1.head()

                name  BEvent type_x type_y
0  0_727853901419926      -1    NaN    NaN
1  0_727853901419926       0    NaN    NaN
2  0_727853901419926       0    NaN    NaN
3  0_727853901419926       0    NaN    NaN
4  0_727853901419926       0    NaN    NaN

In [37]:
# Combining the two new column generated after the merge
out_masked_1['type'] = out_masked_1['type_x'].combine_first(out_masked_1['type_y'])

# Removing the cols
out_masked_1 = out_masked_1.drop(['type_x', 'type_y'], 1)

out_masked_1.head()

                name  BEvent type
0  0_727853901419926      -1  NaN
1  0_727853901419926       0  NaN
2  0_727853901419926       0  NaN
3  0_727853901419926       0  NaN
4  0_727853901419926       0  NaN

In [38]:
# Filling the remaining rows (NaN) with the Non Interacting flag

out_masked_1['type'] = out_masked_1['type'].fillna('NI')
out_masked_1.head()

                name  BEvent type
0  0_727853901419926      -1   NI
1  0_727853901419926       0   NI
2  0_727853901419926       0   NI
3  0_727853901419926       0   NI
4  0_727853901419926       0   NI

In [39]:
# Dropping duplicated `name` rows in order to save a lightweight file
type_df = out_masked_1.drop_duplicates(subset=['name'], keep='first')

In [40]:
# Saving the file
type_df.compute().to_csv('./data/sevn_output_Z0.0001A1L1/type/type_df.csv')